{% extends "base.html" %}

{% block title %}Edit profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-8 col-lg-7 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>Update Profile</b></h5>
                    <h1>Xin chào <strong>{{ user.username }}</strong></h1>
                    <p>Email: {{ user.email }}</p>
                    <p>Last login: {{ user.last_login }}</p>
                    <p>Ngày đăng ký: {{user.date_joined}}</p>

                    <form method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <p>
                            <button class="btn btn-primary" type="submit">Update</button>
                        </p>
                    </form>
                    <p><a href="{% url 'logout' %}" class="btn btn-danger">Thoát</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}